<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Clients</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-success" (click)="showModal = true">
                Add
            </button>
        </div>
        <div class="col-sm-12" *ngFor="let client of barber.clients">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div *ngIf="isClientNull()" class="col-sm-12">
            <h1>You dont have clients</h1>
        </div>
        <app-modal (dimiss)="showModal =false" title="Create Client" *ngIf="showModal">

        </app-modal>
    </div>
</div>